* {
  margin: 0px;
  padding: 0px;
}
nav {
  height: 90px;
  background: #f0f0f0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
nav .logo {
  float: left;
  margin-top: 24px;
  margin-left: 2%;
  background-color: #f0f0f0;
}
nav .logo img {
  height: 3em;
  background-color: #f0f0f0;
}
nav .profile {
  float: right;
  margin-top: 24px;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
nav .dotul {
  padding: 0;
  margin-top: 33px;
  margin-right: 50px;
}
nav .dotul li {
  line-height: 5px;
  display: block;
  margin-top: 0;
}

nav ul {
  float: right;
  list-style: none;
  margin-top: 25px;
  margin-right: 2%;
}
nav li {
  padding-right: 5px;
  display: inline-block;
  line-height: 50px;
}
nav ul li img {
  border-radius: 50%;
  width: 30px;
  height: 50px;
}
h3 {
  background-color: black;
  color: white;
  text-align: center;
}

main {
  display: grid;
  grid-template-rows:
    max-content fit-content fit-content(1000px) fit-content(1000px)
    fit-content(1000px);
  grid-template-columns: repeat(2, 50%);
  width: 75%;
  margin: 50px auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 18px;
}
section {
  padding: 15px;
}
h4 {
  padding-left: 10px;
  background-color: lightgray;
}
@media only screen and (max-width: 1000px) {
  main {
    grid-template-columns: 1fr;
  }
  .sidebar {
    opacity: 0;
  }
  .sidebar ul,
  .sidebar label {
    opacity: 0;
  }
  .sidebartop {
    opacity: 0;
  }
  .sidebartop h3 {
    color: black;
  }
  .sidebartop #btn {
    color: white;
    position: relative;
    margin: 0 20% 0 0;
  }
  #btn {
    float: right;
    text-align: center;
    margin-left: 10%;
  }
}
#container {
  position: absolute;
  display: grid;
  padding-left: 0;
  margin: 0px;
  grid-template-columns: 10% 90%;
}
.sidebar {
  height: 50vh;
  position: fixed;
  width: 190px;
  margin-top: 100px;
  padding: 20px 0 0 0;
  box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sidebar ul {
  padding: 10px 10px;
}
.sidebar ul li {
  position: relative;
  height: 30px;
}
.sidebartop {
  padding: 10 10px 10 10;
  position: fixed;
  width: 190px;
  transition: all 0.5s ease;
}
.sidebartop h3 {
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 10px;
  height: 50px;
  border-top-right-radius: 10px;
  margin: 50px 0 0 0;
}
.sidebar.active {
  width: 100px;
}
.sidebar.active ul,
.sidebar.active label {
  opacity: 0;
}
.sidebartop.active {
  width: 100px;
}
.sidebartop.active h3 {
  color: black;
}
.sidebartop.active #btn {
  color: white;
  position: relative;
  margin: 0 20% 0 0;
}
#btn {
  float: right;
  text-align: center;
  margin-left: 10%;
}
.top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 0 5px 20px;
  display: flex;
  color: white;
  vertical-align: baseline;
  grid-column: 1/-1;
  background-color: blue;
}
.r2 {
  display: flex;
  height: 100px;
  align-items: center;
  /* text-align: center; */
  font-weight: 500;
  margin: auto;
  grid-column: 1/-1;
}

.all {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 0;
  align-items: center;
}
.wrapper {
  border-radius: 20px;
  box-sizing: content-box;
  margin: auto;
  width: 90%;
  overflow: hidden;
  text-align: left;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

.toggle {
  display: none;
}
.arrow {
  cursor: pointer;
  font-weight: bolder;
  display: block;
  text-align: right;
  padding-right: 15px;
}

.arrow:before {
  font-size: 20px;
  content: ">";
  transform: rotate(270deg);
  vertical-align: text-bottom;
  display: inline-block;
}
.toggle:not(:checked) ~ .arrow:before {
  font-size: 20px;
  content: ">";
  transform: rotate(90deg);
  vertical-align: text-bottom;
  display: inline-block;
}
.expand {
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
  color: #fff;
}

.toggle:checked ~ .expand {
  height: auto;
  color: black;
  padding: 0 15px;
}
.comment {
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
  padding: 10px;
  resize: none;
  border: 0px;
  border-radius: 10px;
  outline: none;
  height: 200px;
  width: 100%;
  margin: 0;
}
.inner-main {
  display: grid;
  grid-template-rows: fit-content(1000px) fit-content(1000px) fit-content(
      1000px
    );
  padding: 15px 0;
}
.inner-wrapper {
  box-sizing: content-box;
  margin: auto;
  width: 100%;
  overflow: hidden;
  text-align: left;
  background-color: rgb(240, 38, 38);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}
.inner-arrow {
  cursor: pointer;
  position: relative;
  float: left;
  padding-right: 10px;
}
.inner-arrow:before {
  font-size: 20px;
  content: ">";
  transform: rotate(270deg);
  text-align: right;
  display: inline-block;
}
.inner-expand {
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
  color: #fff;
}
.inner-toggle:checked ~ .inner-expand {
  height: auto;
  padding: 10px 10px 10px 10px;
}
.intro {
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
  padding: 10px;
  resize: none;
  border: 0px;
  border-radius: 10px;
  outline: none;
  min-height: 70px;
  width: 70%;
  margin: 0;
}

.thread-expand {
}
.thread-expand p {
  padding: 3px 0;
  background-color: rgb(186, 182, 182);
  box-sizing: border-box;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.4);
  color: black;
  max-width: 70%;
  text-align: left;
  border-top-left-radius: 5px;
  border-top-right-radius: 10px;
}
.thread {
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
  resize: none;
  border: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  outline: none;
  width: 70%;
  margin: 0;
  height: auto;
}
.inner-toggle {
  display: none;
}
#addexample {
  cursor: pointer;
  margin: 10px 0;
  border: 0;
  border-radius: 5px;
  background-color: #0029ff;
  color: white;
  padding: 10px;
  /* margin: 0 auto; */
  text-align: center;
}
#addthread {
  float: right;
  cursor: pointer;
  margin: 10px 30%;
  border: 0;
  border-radius: 5px;
  background-color: #0029ff;
  color: white;
  padding: 10px;
}
.pdf {
  width: 100%;
  height: 600px;
}
.r4-c2 {
}
.r5-c1 {
}
.r5-c2 {
}
